UnityProject/Library/
UnityProject/Temp/
*.pidb
*.DS_store
*.csproj
*.unityproj
*.sl
*.sln
*.
*.userprefs
[Bb]uilds/

#######
# Git
#######
*.orig
*.orig.meta
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.MERGED.*

